*{
    box-sizing: border-box;
  }
  
  body {
      font-family: 'Arial', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
     background-image: url(UNEFAA.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
      
  }
  
  .container {
      width: 300px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  
  .form-container {
      background-color: #a4cfe9;
      padding: 20px;
      transition: transform 0.6s ease;
      position: relative;
  }
  
  form {
      display: flex;
      flex-direction: column;
  }
  
  h1 {
      text-align: center;
  }

  h2 {
    text-align: center;
}
  
  input {
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
  }
  
  button {
      padding: 10px;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  button:hover {
      background-color: #218838;
  }
  
  span {
      margin-top: 15px;
      text-align: center;
  }
  
  a {
      color: #007bff;
      text-decoration: none;
  }
  
  a:hover {
      text-decoration: underline;
  }
  
  /* Animaciones */
  .login-container {
      transform: translateX(0);
  }
  
  .register-container {
      transform: translateX(100%);
  }